html {
    scroll-behavior: smooth;
}

.body {
    margin: 0 auto;
    font-family: 'Inter', 'Verdana', sans-serif;
    font-style: normal;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

p {
    margin: 0;
}

button:hover {
    background-color: #E06733;
}

/* HEADER START */

.header {
    background: #EDF2EC;
}

.header-wrapper {
    margin: 0 auto;
    padding: 42px 109px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    padding: 0 0 4px 1px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.header-logo p {
    padding-left: 1px;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.header-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header-nav-link {
    padding-left: 47px;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
}

.header-nav-link:hover {
    color: #E06733;
}

.header-button {
    display: none;
    position: relative;
    width: 40px;
    border: none;
    padding: 0 0 4px 0;
}

#burger {
    background-color: transparent;
}

#burger:hover {
    background-color: transparent;
}

.header-button span {
    position: absolute;
    width: 38px;
    height: 0;
    border: 1px solid #717171;
    left: 0;
}

.header-button span:nth-child(1) {
    transform: translateY(-12px);
}

.header-button span:nth-child(2) {
    transform: translateY(-4px);
}

.header-button span:nth-child(3) {
    transform: translateY(4px);
}

.header-button span:nth-child(4) {
    transform: translateY(12px);
}

.header.open .header-button span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header-button span:nth-child(2) {
    opacity: 0;
}

.header.open .header-button span:nth-child(3) {
    opacity: 0;
}

.header.open .header-button span:nth-child(4) {
    transform: translateY(0) rotate(-45deg);
}

/* HEADER END */

/* WELCOME START */

.welcome {
    background: #EDF2EC;
}

.welcome-wrapper {
    margin: 0 auto;
    padding: 62px 109px 63px 109px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.welcome-img {
    width: 449px;
    height: 407px;
}

.welcome-section {
    padding: 36px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome-headline {
    width: 549px;
    padding-bottom: 42px;
}

h1 {
    margin: 0;
    padding-left: 2px;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    font-family: sans-serif;
}

h1 span {
    color: #499A18;
}

.welcome-text {
    width: 525px;
    padding-bottom: 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.welcome-button button {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    border: 2px solid #E06733;
    border-radius: 10px;
    background: #EDF2EC;
    width: 158px;
    height: 44px;
}

button:hover {
    background-color: #E06733;
    color: #FFFFFF;
}

/* WELCOME END */

/* ABOUT START */

.about {
    background-color: #FFFFFF;
}

.about-wrapper {
    padding: 93px 109px 94px 109px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about-section {
    width: 605px;
    padding: 60px 0 54px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-headline {
    width: 463px;
    padding-bottom: 40px;
}

.about-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

h2 {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin: 0;
}

h2 span {
    color: #E06733;
}

.about-img {
    width: 464px;
    height: 479px;
}

/* ABOUT END */

/* SERVICE START */

.service {
    background: #EDF2EC;
}

.service-wrapper {
    margin: 0 auto;
    padding: 40px 109px 66px 109px;
}

.services-content {
    padding: 0 215px 90px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.services-headline {
    width: 306px;
    height: 94px;
    padding-right: 10px;
}

.services-content-buttons {
    width: 559px;
    padding-top: 29px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-content-button {
    width: 161px;
    height: 50px;
    margin: 0;
    padding: 0;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: #EDF2EC;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.services-content-button.activeBtn {
    background-color: #E06733;
    color: #FFFFFF;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0;
    padding: 0;
}

.services-item {
    list-style: none;
    padding-bottom: 55px;
    transition: 2s;
}

.garden.blur {
    transition: 2s;
    filter: blur(10px);

}

.lawn.blur {
    transition: 2s;
    filter: blur(10px);

}

.planting.blur {
    transition: 2s;
    filter: blur(10px);

}

.services-nav-link {
    text-decoration: none;
}

.services-container {
    width: 328px;
    height: 448px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}

.services-container-img {
    height: 350px;
}

.services-container-headline {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    padding: 10px 0 13px 0;
}

.services-container-headline p,
.services-container-text p {
    margin: 0;
}

.services-container-text {
    width: 267px;
    padding-bottom: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}

/* SERVICE END */

/* PRICES START */

.prices-wrapper {
    margin: 0 auto;
    padding: 40px 109px 115px 109px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prices-navigation {
    width: 332px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prices-navigation h2 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.prices-menu {
    margin: 60px 0 14px 0;
    padding: 34px 41px 2px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}

.prices-menus {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.prices-menus-point {
    width: 170px;
    margin-bottom: 32px;
    padding: 0 40px;
    background: #EDF2EC;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.active {
    background-color: #D6E7D2;
}

.accordion {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    transition: 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.line {
    width: 164px;
    height: 0px;
    border: 0.5px solid #AEA1A1;
}

.prices-menu-text {
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    color: #717171;
    padding: 6px 0;
}

.prices-menu-price {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
}

.prices-menu-price span {
    color: #E06733;
}

.prices-menu-button {
    padding: 9px 0 12px;
}

.prices-menu-button button {
    width: 86px;
    height: 25px;
    background: #FFFFFF;
    border-color: transparent;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
}

.prices-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.prices-contact {
    width: 452px;
    padding-bottom: 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.prices-contact h2 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
}

.prices-contact p {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
}

.prices-contact p span {
    color: #499A18;
}

.prices-contact button {
    width: 162px;
    height: 50px;
    margin-top: 41px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
    background: #FFFFFF;
}

/* PRICES END */

/* CONTACTS START */

.contacts {
    background: #EDF2EC;
}

.contacts-wrapper {
    padding: 53px 109px 0 109px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacts-img {
    width: 400px;
    height: 497px;
    background: url(../images/contact_woman.png);
}

.contacts-us {
    padding: 7px 64px 0 113px;
    width: 195px;
}

.contacts-us h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.section {
    margin-top: 95px;
    width: 450px;
    height: fit-content;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts-city {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.activeAccordion {
    background: #C1E698;
}

.contacts-city-text {
    margin: 5px 175px 5px 20px;
    width: 204px;
    height: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
}

.contacts-city-text p {
    margin: 0;
}

.contacts-city-img {
    margin-right: 35px;
    width: 16px;
    height: 16px;
}

.contact-city-content {
    max-height: 0;
    overflow: hidden;
}

.city {
    margin: 15px 50px 30px 20px;
}

.cities-name {
    padding-top: 12px;
    border-bottom: 1px solid #D9D9D9;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #499A18;
}

.cities-name:hover {
    color: #717171;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #717171;
}

.C,
.N,
.Y,
.S {
    max-height: 0;
    overflow: hidden;
}

.city-block {
    margin-top: 47px;
    background: #EDF2EC;
    border: 1px solid #000000;
    border-radius: 20px;
}

.infoForCity {
    padding: 17px 76px 32px 33px;
}

.infoForCity th {
    width: 128px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #000000;
}

.infoForCity td {
    width: 190px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #717171;
}

.infoForCity button {
    width: 122px;
    height: 26px;
    margin: 24px 88px 0 127px;
    font-family: 'Inika';
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #717171;
    background: #EDF2EC;
    border: 1px solid #E06733;
    border-radius: 5px;
}

.infoForCity button:hover {
    background: #E06733;
    color: #ffffff;
}

/* CONTACTS END */

/* FOOTER START */

.footer-wrapper {
    padding: 40px 109px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.year-github {
    width: 182px;
    display: flex;
    justify-content: space-between;
    padding-right: 7px;
}

.year-github,
.rs-school,
.github {
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    text-decoration: none;
}

.rs-school:focus,
.github:focus,
.rs-school:hover,
.github:hover {
    color: #E06733;
}

.year {
    margin: 0px;
}

.year .github {
    padding-right: 13px;
}

.social-list {
    width: 188px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.social-list li {
    height: 32px;
}

/* FOOTER END */

@media (max-width: 768px) {

    .wrapper {
        max-width: 768px;
    }

    /* 768px HEADER START */

    .header-wrapper {
        padding: 35px 50px;
    }

    /* 768px HEADER END */

    /* 768px WELCOME START */

    .welcome-wrapper {
        padding: 40px 50px 70px 50px;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }

    .welcome-img {
        width: 280px;
        height: 254px;
    }

    .welcome-section {
        padding: 0;
    }

    .welcome-headline {
        width: 346px;
        padding-bottom: 30px;
    }

    h1 {
        font-size: 35px;
    }

    .welcome-text {
        width: 341px;
        padding: 0 0 35px 5px;
        font-size: 16px;
        line-height: 25px;
    }

    /* 768px WELCOME END */

    /* 768px ABOUT START */

    .about-wrapper {
        padding: 40px 50px 95px 50px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .about-section {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .about-headline {
        width: 423px;
        padding-bottom: 50px;
        text-align: center;
    }

    h2 {
        font-size: 35px;
        line-height: 46px;
    }

    .about-img {
        width: 250px;
        height: 258px;
        padding-top: 68px;
    }

    /* 768px ABOUT END */

    /* 768px SERVICE START */


    .service-wrapper {
        padding: 60px 50px 32px 50px;
    }

    .services-content {
        padding: 0 0 40px 0;
        display: block;
    }

    .services-headline {
        padding: 0 0 40px 0;
    }

    .services-content-buttons {
        padding: 0;
    }

    .services-item {
        padding-bottom: 38px;
    }

    .services-container {
        width: 279px;
        height: 448px;
    }

    .services-container-img img {
        width: 280px;
        height: 350px;
    }

    .services-container-headline {
        height: 20px;
    }

    .services-container-text {
        width: 201px;
        padding-bottom: 20px;
        text-align: center;
    }

    /* 768px SERVICE END */

    /* 768px PRICES START */

    .prices-wrapper {
        padding: 40px 50px 81px 50px;
    }

    .prices-navigation {
        padding: 0 0 76px 0;
        justify-content: flex-start;
    }

    .prices-navigation h2 {
        font-family: 'Inter';
        font-size: 35px;
        line-height: 42px;
        padding: 0 0 57px 15px;
    }

    .prices-menu {
        margin: 0;
    }

    .prices-contacts {
        justify-content: flex-start;
    }

    .prices-contact {
        width: 296px;
        padding-bottom: 0;
    }

    .prices-contact p {
        font-family: 'Inter';
        padding-top: 100px;
        font-size: 25px;
        line-height: 35px;
    }

    .prices-contact button {
        margin: 28px 0 34px 0;
    }

    /* 768px PRICES END */

    /* 768px CONTACTS START */

    .contacts-wrapper {
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts-img {
        order: 2;
        width: 200px;
        height: 248px;
        margin-left: 20px;
        background: url(../images/contact_woman768.png);
        background-repeat: no-repeat;
    }

    .contacts-us {
        order: 0;
        padding: 40px 288px 100px 288px;
        width: 192px;
    }

    .section {
        margin: 0 0 250px 0;
    }

    .contacts-city {
        order: 1;
    }

    .contacts-city-text p {
        margin: 0;
    }

    /* 768px CONTACTS END */

    /* 768px FOOTER START */

    .footer-wrapper {
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .year-github {
        width: 173px;
        padding: 33px 0 16px 0;
    }

    .year-github,
    .rs-school,
    .github {
        line-height: 24px;
    }

    .rs-school:focus,
    .github:focus,
    .rs-school:hover,
    .github:hover {
        color: #E06733;
    }

    .year {
        margin: 0px;
    }

    .year .github {
        padding-right: 0px;
    }

    .social-list {
        width: 188px;
        padding: 16px 0 18px 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    .social-list li {
        height: 32px;
        padding: 9px 0;
    }

    /* 768px FOOTER END */
}

@media (max-width: 700px) {
    .header-button {
        display: block;
        z-index: 2;
    }

    .header-nav {
        position: absolute;
        right: 5px;
        left: 5px;
        top: -350px;
        padding: 80px 20px 20px 20px;
        text-align: center;
        background-color: #FFFFFF;
        transition: transform 0.5s;
    }

    .header-list {
        display: block;
    }

    .header-nav-link {
        display: block;
        padding: 0;
    }

    .header.open .header-nav {
        transform: translateY(100%);
    }
}

@media (max-width: 380px) {

    .wrapper {
        max-width: 380px;
    }

    /* 380px HEADER START */

    .header-wrapper {
        padding: 36px 25px;
    }

    /* 380px HEADER END */
    /* 380px WELCOME START */

    .welcome-wrapper {
        padding: 24px 25px 24px 25px;
    }

    .welcome-img {
        display: none;
    }

    .welcome-headline {
        width: 330px;
        padding-bottom: 20px;
    }

    h1 {
        font-size: 25px;
        line-height: 35px;
    }

    .welcome-text {
        width: 315px;
        padding: 0 0 26px 0;
        font-size: 16px;
    }

    .welcome-button button {
        width: 100px;
        height: 34px;
        font-size: 10px;
        line-height: 20px;
    }

    /* 380px WELCOME END */

    /* 380px ABOUT START */

    .about-wrapper {
        padding: 30px 25px 31px 25px;
    }

    .about-headline {
        width: 288px;
        padding-bottom: 12px;
    }

    h2 {
        font-size: 25px;
        line-height: 33px;
    }

    .about-text {
        font-size: 15px;
        line-height: 25px;
    }

    .about-img {
        width: 150px;
        height: 147px;
        padding: 5px 8px 0 0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    /* 380px ABOUT END */

    /* 380px SERVICE START */


    .service-wrapper {
        padding: 30px 50px 0 25px;
    }

    .services-content {
        padding: 0 0 31px 0;
    }

    .services-headline {
        width: 187px;
        padding: 0 0 10px 0;
    }

    .services-content-buttons {
        width: 330px;
        justify-content: flex-start;
    }

    .services-content-button {
        width: 121px;
        height: 35px;
        margin: 0 10px 9px 0;
        font-size: 15px;
        line-height: 20px;
    }

    .services-item {
        padding: 0 25px 34px 25px;
    }

    /* 380px SERVICE END */

    /* 380px PRICES START */

    .prices-wrapper {
        padding: 25px 76px 40px 76px;
        flex-direction: column;
    }

    .prices-navigation {
        width: 224px;
        /* height: 304px; */
        padding: 0 3px 0 3px;
        justify-content: flex-start;
        align-items: center;
    }

    .prices-navigation h2 {
        font-size: 25px;
        line-height: 30px;
        padding: 0 0 37px 0;
    }

    .prices-menu {
        padding: 29px 22px 0 22px;
    }

    .prices-menus {
        width: 180px;
    }

    .prices-menus-point {
        width: 110px;
        margin-bottom: 29px;
        padding: 0 40px 0 30px;
        font-size: 15px;
    }

    .prices-contacts {
        justify-content: flex-start;
        align-items: center;
    }

    .prices-contact {
        width: 230px;
        align-items: center;
    }

    .prices-contact p {
        padding: 18px 0 20px 0;
        font-size: 20px;
        text-align: center;
    }

    .prices-contact button {
        width: 121px;
        height: 35px;
        margin: 0;
        font-size: 15px;
        line-height: 20px;
    }

    .prices-contacts-img {
        display: none;
    }

    /* 380px PRICES END */

    /* 380px CONTACTS START */

    .contacts-wrapper {
        padding: 25px 42px 0 42px;
    }

    .contacts-city-text {
        margin: 5px 40px 5px 20px;
        font-size: 16px;
    }

    .contacts-img {
        background: url(../images/contact_woman768.png);
        background-size: cover;
        width: 100px;
        height: 124px;
        margin-left: 0;
    }

    .contacts-us {
        width: 130px;
        padding: 0;
    }

    .contacts-us h2 {
        font-size: 25px;
        line-height: 33px;
    }

    .section {
        width: 300px;
        margin: 80px 0 132px 0;
    }

    .contacts-city-img {
        margin-right: 20px;
    }

    .infoForCity {
        padding: 23px 36px;
    }

    .infoForCity th {
        width: 65px;
        line-height: 20px;
    }

    .infoForCity td {
        width: 131px;
    }

    .infoForCity button {
        margin: 17px 38px 0 51px;
    }

    /* 380px CONTACTS END */

    /* 380px FOOTER START */

    .footer-wrapper {
        padding: 22px 85px 7px 85px;
    }

    .year-github {
        width: 173px;
        padding: 0 0 15px 0;
    }

    .year {
        margin: 0px;
    }

    .year .github {
        padding-right: 0px;
    }

    .social-list {
        padding: 12px 0;
        margin: 0;
    }

    .social-list li {
        padding: 0;
    }

    /* 380px FOOTER END */
}